CONFIG_LWIP_IP_FORWARD=y
CONFIG_LWIP_IPV4_NAPT=y
CONFIG_LWIP_SNTP_MAX_SERVERS=3
CONFIG_TIMEZONE="IRST-3:30"
CONFIG_WIFI_NTP_SERVER_1="ir.pool.ntp.org"
CONFIG_WIFI_NTP_SERVER_2="time.google.com"
CONFIG_WIFI_NTP_SERVER_3="time.cloudflare.com"